git+https://github.com/openai/CLIP.git
numpy
accelerate
# make sure to add admistration rights at d:\\utilities\\miniconda\\envs\\rag\\lib\\site-packages\\torch (--user flag to notify error)
--extra-index-url=https://download.pytorch.org/whl/nightly/cpu ; sys_platform  == 'darwin' # darwin for macbook os
--extra-index-url=https://download.pytorch.org/whl/cu128 ; sys_platform  != 'darwin'
torch
torchvision

https://github.com/loscrossos/lib_flashattention/releases/download/v2.7.4.post1_crossos00/flash_attn-2.7.4.post1+cu129torch2.7.0-cp312-cp312-win_amd64.whl ; sys_platform == 'win32' #egg:v2.7.4.post1
transformers

# Optional
ipykernel
langchain_huggingface
pandas
langchain
sentence_transformers
pymilvus
bs4

# For 8-bit model loading
bitsandbytes-cuda110
bitsandbytes